.contenedorWidget{
    display: flex;
    align-items: flex-end;
}

.contadorCarrito{
    width: 1.2rem;
    height: 1.2rem;
    color: black;
    text-align: center;    
    border-radius: 50%;
    background-color: #a3e4d7;
    font-weight: bold;
}