.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  &__brand {
    &__titulo {
      color: #78e8d2;
      text-shadow: 2px 2px lightblue;
      img {
        width: 2.8rem;
        padding-left: 0.2rem;
      }
    }
  }
  &__logon-carrito {
    display: flex;
    align-items: center;
    a {
      margin: 0 1rem;
    }
  }
  nav {
    a {
      font-size: 1.5rem;
      font-weight: bold;
      margin: 0 1rem;
      color: #78e8d2;
    }
  }
}

.active {
  background-color: rgb(106, 190, 217);
  color: white !important;
  padding: 0.3rem;
  border-radius: 0.3rem;
}
