@import "../components/ItemCount/ItemCount.scss";
@import "../components/ItemList/ItemList.scss";
@import "../components/CartWidget/CartWidget.scss";
@import "../components/Carrito/Carrito.scss";
@import "../components/NavBar/NavBar.scss";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body,
#root {
  height: 100vh;
}

a {
  color: black;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
}

#root > main,
#root > header,
#root > footer {
  padding: 1rem;
}

#root > main {
  flex-grow: 1;
}


